<a href="https://colab.research.google.com/github/jufevalencia/Data_Engineer_guide/blob/master/Query_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL Querys

## Customer Who Visited but Did Not Make Any Transactions

Table: Visits



```
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| visit_id    | int     |
| customer_id | int     |
+-------------+---------+
```


visit_id is the column with unique values for this table.
This table contains information about the customers who visited the mall.



Table: Transactions
```
+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| transaction_id | int     |
| visit_id       | int     |
| amount         | int     |
+----------------+---------+
```

transaction_id is column with unique values for this table.
This table contains information about the transactions made during the visit_id.



Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.




```
with no_transactions as
(
select visits.customer_id  , transactions.transaction_id
from visits left join transactions
on visits.visit_id = transactions.visit_id)

select customer_id , count(1) as count_no_trans
from no_transactions
where transaction_id is null
group by customer_id

```

## Resultados:


Visits :

```
| visit_id | customer_id |
| -------- | ----------- |
| 1        | 23          |
| 2        | 9           |
| 4        | 30          |
| 5        | 54          |
| 6        | 96          |
| 7        | 54          |
```

Transactions :

```
| transaction_id | visit_id | amount |
| -------------- | -------- | ------ |
| 2              | 5        | 310    |
| 3              | 5        | 300    |
| 9              | 5        | 200    |
| 12             | 1        | 910    |
| 13             | 2        | 970    |
```
Output :

```
| customer_id | count_no_trans |
| ----------- | -------------- |
| 30          | 1              |
| 96          | 1              |
| 54          | 2              |
```

## Rising Temperature



```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+

```
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.



Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.

```
SELECT w2.id
FROM Weather w1, Weather w2
WHERE DATEDIFF(w2.recordDate, w1.recordDate) = 1 AND w2.temperature > w1.temperature;
```

Weather :

```
| id | recordDate | temperature |
| -- | ---------- | ----------- |
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
```

Output :
```
| id |
| -- |
| 2  |
| 4  |
```